# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Database / Local files
*.bak
*.tmp

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/